*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.8rem;
    font-family: 'FermowGeral', Times, serif;
    text-decoration: none;
    text-transform: uppercase;
}
img{
    max-width: 100%;
    display: block;
}

@font-face {
    font-family: "Fermow";
    src: url("../fonts/the_braggest/The Braggest_Demo.otf") format('opentype'), url("../fonts/the_braggest/The Braggest_Demo.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FermowGeral";
    src: url("../fonts/OPTITomasoBold-Extended/OPTITomasoBold-Extended.otf")format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FermowGeralPrincipal";
    src: url("../fonts/OPTITomaso-Extended/OPTITomaso-Extended.otf")format("opentype");
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------------------------------------------------------------
                              CONFIGURAÇÃO GERAL CSS
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////                             CONFIGURAÇÃO ESTRUTURAL HTML
--------------------------------------------------------------------------------------*/

.estrutura-geral-grid{/*GRID GERAL*/
    display: grid;
    grid-template-columns: minmax(160px, 1fr);
    grid-template-rows: 1fr auto;  
}
/*-------------------------------------------------------------------------------------
//////////////////      HEADER      \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
--------------------------------------------------------------------------------------*/
/*CONFIGURAÇÃO DA LOGO*/.header-grid a.tlogo{
                            font-family: 'Fermow', Times, serif;
                            font-size: 12em;
                            font-weight: normal;
                            color: white;
                            text-transform: capitalize;
                            /* background: rgba(255, 0, 0, 0.452); */
                        }
.header-grid{
    /* background: rgba(48, 4, 168, 0.596); */
    padding: 30px;
    background: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr;
    align-items: flex-start;
    font-family: 'FermowGeral', Times, serif;
    grid-area: 1/1;
    z-index: 7;
    box-shadow: inset 0em 20em 50em rgba(0, 0, 0, 0.700);
}
/* ////////////////////////////////////////////////////////////////  MENU1  /////////////////////*/
        .header-grid nav ul.menu1{
            display: flex;
            flex-wrap: wrap;
            /* background: rgba(0, 128, 0, 0.575); */
            margin-left: 30px;
        }
/*--------------------------------------------------------*/
                .header-grid nav ul.menu1 li + li{
                    margin-left: 20px;
                }
.header-grid nav ul.menu1 li{
    /* background: rgba(255, 255, 0, 0.404); */
}
/*--------------------------------------------------------*/
                .header-grid nav ul.menu1 li a{
                    display: block;
                    padding: 5px;
                    color: white;
                    font-size: 0.8em;
                    font-family: "FermowGeral", Times, serif;
                    border-bottom: 2px solid rgba(0, 0, 0, 0);
                    transition: 0.5s;
                    /* background: rgba(9, 0, 128, 0.527); */
                }
                                .header-grid nav ul.menu1 li a:hover{
                                    border-bottom: 2px solid white;
                                }

                /*/////////CONFIGURAÇÃO DO SUBITEM DO MENU\\\\\\\\*/
                .header-grid nav ul.menu1 li ul{
                    position: absolute;
                    background-color: rgba(51, 51, 51, 0);
                    display: none;
                    /* background: rgba(128, 0, 85, 0.404); */
                }
                            .header-grid nav ul.menu1 li:hover ul{
                                display: block;
                            }
                .header-grid nav ul.menu1 li ul li{
                    display: block;
                    width: 150px;
                    margin: 0px;
                }
                .header-grid nav ul.menu1 li ul li a{
                    font-family: "FermowGeralPrincipal", Times, serif;
                    text-transform: capitalize;
                    font-size: 0.9em;
                    color: white;
                    border-bottom: none;
                    transition: none;
                }
                            .header-grid nav ul.menu1 li ul li a:hover{
                                color: rgba(0, 0, 0, 0.7);
                                border-bottom: none;
                                transition: none;
                            }

/* ////////////////////////////////////////////////////////////////  MENU2  /////////////////////*/
        .header-grid nav ul.menu2{
            display: flex;
            flex-wrap: wrap;
            /* background: rgba(128, 0, 0, 0.575); */
            margin-left: 130px;
        }
/*--------------------------------------------------------*/
                .header-grid nav ul.menu2 li + li{
                    margin-left: 45px;
                }
.header-grid nav ul.menu2 li{
    /* background: rgba(255, 255, 0, 0.404); */
}
/*--------------------------------------------------------*/
            .header-grid nav ul.menu2 li a{
                display: block;
                padding: 5px;
                color: white;
                font-size: 1em;
                /* background: rgba(255, 255, 0, 0.486); */
            }
            /*/////////CONFIGURAÇÃO DO SUBITEM DO MENU\\\\\\\\*/
            .header-grid nav ul.menu2 li ul{
                position: absolute;
                background-color: rgba(51, 51, 51, 0);
                display: none;
                /* background: rgba(119, 128, 0, 0.301); */

            }
                            .header-grid nav ul.menu2 li:hover ul{
                                display: block;
                            }
                            .header-grid nav ul.menu2 li ul a{
                                display: none;
                            }
            .header-grid nav ul.menu2 li ul li{
                display: block;
                width: 230px;
            }
            .header-grid nav ul.menu2 li ul li input{

                display: none;

                margin-top: 15px;
                width: 230px;
                text-transform: capitalize;
                font-family: 'FermowGeralPrincipal', Times, serif;
                font-size: 1em;
                border: none;
                border-bottom: 1px solid white;
                background: rgba(0  , 0, 0, 0);
                color: white;
                padding: 0px 0px 15px 0px;
            }

/*-------------------------------------------------------------------------------------
//////////////////      SECTION      \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
--------------------------------------------------------------------------------------*/
.section-main{/*SECTION*/
    background: white;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}
            section.section-main section.section2, section.section-main section.section3, section.section-main section.section4{
                background: lightblue;
                margin-top: 5px;
                margin-bottom: 5px;
            }
                            section.section-main section.section1{
                                margin-bottom: 5px;
                            }
            section.section2{
                display: grid;
                grid-template-columns: 350px 1fr;
                grid-template-rows: 1fr;
            }
                        .area-text{
                            background: red;
                            height: 500px;
                        }
                        .area-slide{
                            background: green;
                        }
            section.section3{
                position: relative;
            }
                        section.section3 div.menuzinho1{
                            background: white;
                            position: absolute;
                            margin: 0px;
                            padding: 30px 20px 20px 20px;
                            bottom: 6.5%;
                            right: auto;
                            left: 35%;
                            width: 400px;
                            height: 100px;
                            border-radius: 3px;
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr 1fr;
                            text-align: center;
                        }
                        div.menuzinho1 a{
                            color: black;
                            font-family: "FermowGeral", Times, serif;
                        }
                        div.menuzinho1 a#aPrincipal{
                            color: black;
                            font-size: 1.3em;
                            font-family: "FermowGeral", Times, serif;
                        }
/*-------------------------------------------------------------------------------------
//////////////////      FOOTER      \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
--------------------------------------------------------------------------------------*/
.footer-grid{
    background: white;
    display: grid;
    grid-template-columns: 1fr 0.9fr 1fr 1.1fr;
    grid-template-rows: 1fr 50px;
    border-top: 1px solid rgb(80, 80, 80);
}
.col-wide{
    grid-column: 1 / -1; /*DEIXA OS DOIS ULTIMOS TEXT DO FOOTER NUMA COLUNA SÓ*/
}
/*CONFIGURAÇÃO DAS FONTES DO FOOTER*/
                            .footer-grid p, .footer-grid h1{
                                color: black;
                                padding: 10px;
                            }.footer-grid input{margin: 10px; text-transform: none;}

                            .footer-grid a{
                                color: black;
                                padding: 10px;
                            }.footer-grid a:hover{color: rgba(0, 0, 0, 0.6);}

                            #footer2 p{
                                text-transform: lowercase;
                            }
                                #f1 h1, #f1 p, #f1 input, #f2 nav li a, #f3 nav ul li a, #f3 nav ul li a ul li a, #f4 nav ul li a{
                                    font-size: 0.85em;
                                }
/*CONFIGURAÇÃO DOS DIVs DO FOOTER*/
                            div#f1, div#f2, div#f3, div#f4{
                                /* background: rgba(0, 0, 255, 0.322); */
                                padding: 40px 0px 0px 20px;
                                margin: 2px;
                            }
        /*CONFIG DA DIV ID=F1*/div#f1 div{
                                    /* background: tomato; */
                                    padding: 0px 0px 10px 0px;
                                }
                                        div#f1 div h1{
                                            /* background: blue; */
                                            padding: 0px 0px 20px 0px;
                                            margin: 0px 0px 5px 0px;
                                            font-size: 0.9em;
                                        }
                                        div#f1 div p{
                                            /* background: green; */
                                            padding: 0px 0px 20px 0px;

                                        }
                                            div#f1 div p#solo{
                                                text-transform: none;
                                                color: rgba(0, 0, 0, 0.6);
                                                font-family: 'FermowGeralPrincipal', Times, serif;
                                                font-size: 0.9em;
                                            }
                                        div#f1 div input{
                                            background: rgba(0  , 0, 0, 0);
                                            color: rgba(0, 0, 0, 0.7);
                                            padding: 0px 0px 5px 0px;
                                            margin: 10px 0px 10px 0px;
                                            width: 100%;
                                            text-transform: capitalize;
                                            font-family: 'FermowGeralPrincipal', Times, serif;
                                            font-size: 1em;
                                            border: none;
                                            border-bottom: 1px solid black;
                                        }
        /*CONFIG DA DIV ID=F2*/div#f2 nav{
                                    /* background: tomato; */
                                    padding: 0px 0px 10px 0px;
        }
                                        div#f2 nav ul{
                                            /* background: blue; */
                                            padding: 0px 0px 10px 0px;
                                        }
                                        div#f2 nav ul li{
                                            /* background: green; */
                                            padding: 0px 0px 20px 0px;
                                            margin: 0px 0px 5px 0px;
                                        }
                                        div#f2 nav ul li a{
                                            padding-left: 0px;
                                            font-size: 0.9em;
                                        }
        /*CONFIG DA DIV ID=F3*/div#f3 nav{
                                    /* background: green; */
                                    padding: 0px 0px 10px 0px;
                                }
                                        div#f3 nav ul div#f3li{
                                            /* background: tomato; */
                                            margin: 0px 0px 20px 0px;
                                            padding: 0px 0px 5px 0px;
                                        }
                                        div#f3 nav ul div#f3li li{
                                            padding: 0px;
                                            /* background: red; */
                                        }
                                        div#f3 nav ul div#f3li li a{
                                            padding: 0px;
                                            /* background: violet; */
                                        }
                                        div#f3 nav ul div#f3li li a.solof3{
                                            padding: 0px 0px 0px 0px;
                                            margin: 0px;
                                            font-size: 0.9em;
                                            /* background: lightblue; */
                                        }
                                                div#f3 nav ul div#f3li li a#solo{
                                                    text-transform: none;
                                                    color: rgba(0, 0, 0, 0.6);
                                                    font-family: 'FermowGeralPrincipal', Times, serif;
                                                    font-size: 0.9em;
                                                }
                                        div#f3 nav ul div#f3li li ul{
                                            /* background: blue; */
                                            padding: 10px 0px 5px 0px;
/*ESSE COMANDO MOSTRA OS ITENS DESSA NAVEGAÇÃO -------------------------->*/display: none;
                                        }
                                        div#f3 nav ul div#f3li li ul li{
                                            /* background: red; */
                                            margin: 5px 0px 5px 0px;
                                            padding: 15px 0px 15px 0px;
                                        }
                                        div#f3 nav ul div#f3li li ul li a{
                                            text-transform: capitalize;
                                            padding-left: 0px;
                                            font-family: 'FermowGeralPrincipal', Times, serif;
                                        }
        /*CONFIG DA DIV ID=F4*/div#f4 nav{
                                    /* background: red; */
                                    padding: 0px 0px 10px 0px;
                                }
                                        div#f4 nav ul{
                                            /* background: green; */
                                            padding: 0px 0px 5px 0px;
                                        }
                                        div#f4 nav ul li{
                                            /* background: tomato; */
                                            margin-bottom: 23px;
                                        }
                                        div#f4 nav ul li a{
                                            padding-left: 0px;
                                            text-transform: capitalize;
                                            font-size: 0.9em;
                                            font-family: 'FermowGeralPrincipal', Times, serif;
                                        }
                                        div#f4 nav ul li a#atitle{
                                            text-transform: uppercase;
                                            font-size: 0.9em;
                                            font-family: 'FermowGeral', Times, serif;
                                        }
/*CONFIGURAÇÃO DO FOOTER2*/div#footer2{
                                display: flex;
                                justify-content: space-between;
                                font-size: 1.125em;
                                border-top: 1px solid rgb(80, 80, 80);
                                padding: 10px;
                                /* background: blue; */
                            }
                            div#footer2 p{
                                font-size: 0.7em;
                                color: rgb(80, 80, 80);
                                /* background: violet; */
                            }
/*-------------------------------------------------------------------------------------
                              CONFIGURAÇÃO ESTRUTURAL HTML
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////                             CONFIGURAÇÃO DIRECIONADA AO JS
--------------------------------------------------------------------------------------*/






                                /* CONFIGURAÇÃO DO PRIMEIRO SLIDE */
section.section-main section.section1 div.slide1{
    max-width: 100%;
    margin: auto;
    display: grid;
}
                                    /* ESCONDENDO OS ITENS */
            .slide-itens{
                position: relative;
                grid-area: 1/1;
                display: grid;
            }
                    .slide-itens > *{
                        opacity: 0;
                        position: absolute;
                        top: 0px;
                        pointer-events: none;
                    }
                    .slide-itens > .active{
                        opacity: 1;
                        pointer-events: initial;
                        position: relative;
                    }
            .slide-nav{
                grid-area: 1/1;
                z-index: 1;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto 1fr;
            }
            .slide-nav button{
                -webkit-appearance: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                opacity: 0;
            }
                    .slide-thumb{
                        display: flex;
                        grid-column: 1 / 3;
                    }
                            .slide-thumb > span{
                                flex: 1;
                                display: block;
                                height: 10px;
                                background: rgba(170, 170, 170, 0.1);
                                margin: 5px;
                                border-radius: 3px;
                                overflow: hidden;
                            }
                            .slide-thumb > span.active::after{
                                content: '';
                                display: block;
                                height: inherit;
                                background: rgba(255, 255, 255, 0.2);
                                border-radius: 3px;
                                transform: translateX(-100%);
                                animation: thumb 5s forwards linear;
                            }
                            @keyframes thumb{
                                to{
                                    transform: initial;
                                }
                            }