*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.8rem;
    font-family: 'FermowGeral', Times, serif;
    text-decoration: none;
    text-transform: uppercase;
    /* outline: #2daebf dashed 1px; */
}
img{
    width: 100%;
    display: block;
}

@font-face {
    font-family: "Fermow";
    src: url("../fonts/the_braggest/The Braggest_Demo.otf") format('opentype'), url("../fonts/the_braggest/The Braggest_Demo.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FermowGeral";
    src: url("../fonts/OPTITomasoBold-Extended/OPTITomasoBold-Extended.otf")format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FermowGeralPrincipal";
    src: url("../fonts/OPTITomaso-Extended/OPTITomaso-Extended.otf")format("opentype");
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------------------------------------------------------------
                              CONFIGURAÇÃO GERAL CSS
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////                             CONFIGURAÇÃO ESTRUTURAL HTML
--------------------------------------------------------------------------------------*/

.estrutura-geral-grid{/*GRID GERAL*/
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
/*-------------------------------------------------------------------------------------
//////////////////      HEADER      \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
--------------------------------------------------------------------------------------*/


        
/* ////////////////////////////////////////////////////////////////  MENU1  /////////////////////*/
        .header-grid nav ul.menu1{
            display: flex;
            flex-wrap: wrap;
            /* background: rgba(0, 128, 0, 0.575); */
            margin-left: 30px;
        }
/*--------------------------------------------------------*/
                .header-grid nav ul.menu1 li + li{
                    margin-left: 20px;
                }
.header-grid nav ul.menu1 li{
    /* background: rgba(255, 255, 0, 0.404); */
}
/*--------------------------------------------------------*/
                .header-grid nav ul.menu1 li a{
                    display: block;
                    padding: 5px;
                    color: white;
                    font-size: 0.9em;
                    font-family: "FermowGeral", Times, serif;
                    border-bottom: 2px solid rgba(0, 0, 0, 0);
                    transition: 0.5s;
                    /* background: rgba(9, 0, 128, 0.527); */
                }
                                .header-grid nav ul.menu1 li a:hover{
                                    border-bottom: 2px solid black;
                                }

                /*/////////CONFIGURAÇÃO DO SUBITEM DO MENU\\\\\\\\*/
                .header-grid nav ul.menu1 li ul{
                    position: absolute;
                    background-color: rgba(255, 255, 255, 0);
                    display: none;
                    /* background: rgba(128, 0, 85, 0.404); */
                }
                            .header-grid .centralizador-menu-header nav ul.menu1 li:hover ul{
                                display: block;
                                transition: 2s;
                            }
                .header-grid nav ul.menu1 li ul li{
                    display: block;
                    width: 150px;
                    margin: 0px;
                }
                .header-grid nav ul.menu1 li ul li a{
                    font-family: "FermowGeralPrincipal", Times, serif;
                    text-transform: capitalize;
                    font-size: 1em;
                    color: rgba(255, 255, 255, 0);
                    border-bottom: none;
                    transition: none;
                }
                            .header-grid nav ul.menu1 li ul li a:hover{
                                color: rgba(0, 0, 0, 0.7);
                                border-bottom: none;
                                transition: none;
                            }

/* ////////////////////////////////////////////////////////////////  MENU2  /////////////////////*/
        .header-grid nav ul.menu2{
            display: flex;
            flex-wrap: wrap;
            /* background: rgba(128, 0, 0, 0.575); */
            margin-left: 80px;
        }
/*--------------------------------------------------------*/
                .header-grid nav ul.menu2 li + li{
                    margin-left: 35px;
                }
.header-grid nav ul.menu2 li{
    /* background: rgba(255, 255, 0, 0.404); */
}
/*--------------------------------------------------------*/
            .header-grid nav ul.menu2 li a{
                display: block;
                padding: 5px;
                color: white;
                font-size: 1em;
                /* background: rgba(255, 255, 0, 0.486); */
            }
            /*/////////CONFIGURAÇÃO DO SUBITEM DO MENU\\\\\\\\*/
            .header-grid nav ul.menu2 li ul{
                position: absolute;
                background-color: rgba(51, 51, 51, 0);
                display: none;
                /* background: rgba(119, 128, 0, 0.301); */

            }
                            .header-grid nav ul.menu2 li:hover ul{
                                display: block;
                            }
                            .header-grid nav ul.menu2 li ul a{
                                display: none;
                            }
            .header-grid nav ul.menu2 li ul li input{

                display: none;

                margin-top: 15px;
                width: 230px;
                text-transform: capitalize;
                font-family: 'FermowGeralPrincipal', Times, serif;
                font-size: 1em;
                border: none;
                border-bottom: 1px solid rgb(0, 0, 0);
                background: rgba(0  , 0, 0, 0);
                color: black;
                padding: 0px 0px 15px 0px;
            }

/*-------------------------------------------------------------------------------------
//////////////////      SECTION      \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
--------------------------------------------------------------------------------------*/
.section-main{/*SECTION*/
    background: white;
    display: grid;
    grid-auto-columns: 100vw;
    grid-template-rows: 100vh 100vh 100vh 100vh;
}
    section.section-main section.section1{
        margin-bottom: 5px;
        background: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 670px;
    }
        .header-grid{
            width: 100vw;
            height: 100vh;
            padding: 0;
            background: rgba(179, 19, 19, 0);
            box-shadow: inset 0em 3em 30em rgba(0, 0, 0, 0.700);
            /* align-self: start; */
            align-items: flex-start;
            font-family: 'FermowGeral', Times, serif;  
            z-index: 6;
            grid-column: 1;
            grid-row: 1;
        }
            .centralizador-menu-header{
                /* display: flex; */
                padding: 23px 50px;
                /* align-items: center; */
                transition: 0.5s;
            }
                .centralizador-menu-header:hover{
                    background: white;
                    align-items: flex-start;
                    transition: 0.3s;
                    height: 50vh;
                    z-index: 7;
                }
                .centralizador-menu-header a{
                    transition: 0.5s;
                }
                .centralizador-menu-header:hover a{
                    color: black !important;
                    transition: 0.5s;
                }
            .centralizadorFlex-menu-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                /* background: rgba(255, 0, 0, 0.349); */
            }
            .header-grid a.tlogo{               /*CONFIGURAÇÃO DA LOGO*/
                font-family: 'Fermow', Times, serif;
                font-size: 12em;
                font-weight: normal;
                color: white;
                text-transform: capitalize;
                /* background: rgba(255, 0, 0, 0.452); */
            }

        section.section-main section.section1 div.slide1{
            width: 100vw;
            height: 100vh;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr auto 0.2fr 0.1fr;
            grid-column: 1;
            grid-row: 1;
            /* background: rgba(255, 0, 0, 0.308); */
            overflow: hidden;
        }
            .slide-itens{
                grid-row: 1 / -1;
                grid-column: 1 / -1;

                position: relative;
                display: grid;
            }
                .slide-itens > *{
                    width: 100%;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    margin: auto;
                    /* pointer-events: none; */
                }
                .slide-itens > .active{
                    opacity: 1;
                    pointer-events: initial;
                    position: relative;
                }
            .slide-nav{
                grid-column: 2;
                grid-row: 3;

                z-index: 7;
                background: white;
                border-radius: 3px;
                padding: 0;

                display: grid;
                grid-template-columns: auto auto auto auto;
                grid-template-rows: 15px 15px 15px auto;
                /* justify-content: stretch; */
            }
                .slide-thumb{
                    /* display: flex; */
                    /* grid-column: 1 / 4; */
                    /* grid-row: 1/4; */
                    grid-row: 1;
                    grid-column: 1 / -1;
                    /* background: red; */
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    height: 0;
                    /* position: relative; */
                }
                        .slide-thumb > span{
                            /* flex: 1; */
                            display: block;
                            grid-column: 1;
                            grid-row: 1;
                            height: 3px;
                            background: rgba(0, 0, 0, 0);
                            /* margin: 5px; */
                            overflow: hidden;
                        }
                        .slide-thumb > span.active::after{
                            content: '';
                            display: block;
                            grid-column: 1;
                            grid-row: 1;
                            height: inherit;
                            background: black;
                            transform: translateX(-100%);
                            animation: thumb 5s forwards linear;
                        }
                        @keyframes thumb{
                            to{
                                transform: initial;
                            }
                        }
                    .slide-nav button.slide-prev{
                        -webkit-appearance: none;
                        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                        /* align-self: stretch; */
                        background: rgba(0, 0, 0, 0);
                        border: rgba(0, 0, 0, 0);
                        grid-column: 1;
                        grid-row: 2;
                        height: 10px;
                        z-index: 7;
                        /* position: absolute; */
                        /* bottom: 10%; */
                        /* left: 45%; */
                    }
                    .slide-nav button.slide-next{
                        -webkit-appearance: none;
                        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                        /* align-self: stretch; */
                        background: rgba(0, 0, 0, 0);
                        border: rgba(137, 43, 226, 0);
                        grid-column: 4;
                        grid-row: 2;
                        height: 10px;
                        z-index: 7;
                        /* position: absolute; */
                        /* bottom: 10%; */
                        /* right: 45%; */
                    }
                    .subTituloNav-section1{
                        grid-column: 1 / -1;
                        grid-row: 3;
                        align-self: center;
                        text-align: center;
                        color: black;
                    }
                    .TituloNav-section1{
                        align-self: center;
                        text-align: center;
                        color: black;
                        grid-column: 1 / -1;
                        grid-row: 4;
                        font-size: 1.2em;
                    }
                

    section.section-main section.section2{
        background: white;
        margin-top: 65px;
        margin-bottom: 65px;
        display: grid;
        grid-template-columns: 350px 1fr;
        grid-template-rows: auto;
    }
    section.section-main section.section2 .area-text{
                            background: white;
                            display: grid;
                        }
                        section.section-main section.section2 .area-text .text-section2{
                                    background: white;
                                    height: 100px;
                                    width: 100%;
                                    display: grid;
                                    grid-template-rows: 1fr 1fr 1fr 1fr;
                                    align-items: center;
                                    position: sticky;
                                    top: 45vh;
                                    background: rgba(255, 0, 0, 0);
                                }
                                div.text-section2{
                                    display: inline-block;
                                    background: rgba(173, 216, 230, 0);
                                    width: 100%;
                                    padding: 0;
                                    margin: 0;
                                    text-align: center;
                                }
                                div.text-section2 a{
                                    color: black;
                                    height: 20px;
                                }
                                    .area-text a.TituloNav-section2{
                                        font-size: 1.2em;
                                        /* background: lightblue; */
                                        grid-row: 3;
                                    }
                                    .area-text a.subTituloNav-section2{
                                        font-size: 1.2em;
                                        /* background: lightblue; */
                                        grid-row: 2;
                                    }
                        .area-slide2{
                            /* border: 2px solid black; */
                            max-width: auto;
                            height: auto;
                            overflow: hidden;
                        }
                            .area-slide2 .slide2-itens{
                                display: flex;
                                animation-name: translacao;
                                animation-duration: 80s;
                                animation-timing-function: linear;
                                animation-iteration-count: infinite;
                            }
                                @keyframes translacao {
                                    to{
                                        transform: translateX(-3610px);
                                    }
                                }
                                .area-slide2 .slide2-itens img{
                                    margin-right: 5px;
                                    width: 100vw;
                                    height: 100vh;
                                    display: block;
                                }
    section.section3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        background: url(../IMG/ROUPAS/slide2.png) no-repeat top;
        box-shadow: inset 0em 3em 30em rgba(0, 0, 0, 0.700);
        background-size: cover;
        justify-items: center;
    }
                .conteudoS3{
                    /* background: white; */
                    grid-column: 2;
                    display: flex;
                }
                .menuzinho{
                    background: white;
                    width: 425px;
                    height: 105px;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 3fr 1fr 1fr 1fr;
                    align-items: center;
                    text-align: center;
                    border-radius: 3px;
                    margin-top: 10vh;
                    margin-bottom: 10vh;
                    position: sticky;
                    top: 75vh;
                }
                .menuzinho a.subTituloNav-section3{
                    color: black;
                    grid-row: 1;
                }
                .menuzinho a.TituloNav-section3{
                    color: black;
                    grid-row: 2;
                }
    .section4{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background: url(../IMG/ROUPAS/slide1.png) no-repeat top;
        box-shadow: inset 0em 5em 30em rgba(0, 0, 0, 0.700);
        background-size: cover;
    }

                .section4 #slide4{
                    /* background: lightblue; */
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .section4 #slide4 nav{
                    /* background: tomato; */
                    padding: 5px;
                }
                .section4 #slide4 nav ul{
                    /* background: lightgreen; */
                    padding: 5px;
                }
                .section4 #slide4 nav ul li{
                    margin: 20px;
                    /* background: red; */
                    padding: 5px;
                    text-align: center;
                }
                .section4 #slide4 nav ul li a{
                    /* background: lightseagreen; */
                    font-size: 1.8em;
                    color: white;
                }
                .section4 #slide4 nav ul li:hover a{
                    color: white !important;
                }
                .section4 #slide4 nav ul:hover li a{
                    color: rgba(255, 255, 255, 0.500);
                } 
/*-------------------------------------------------------------------------------------
//////////////////      FOOTER      \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
--------------------------------------------------------------------------------------*/
.footer-grid{
    background: white;
    display: grid;
    grid-template-columns: 1fr 0.9fr 1fr 1.1fr;
    grid-template-rows: 1fr 50px;
    border-top: 1px solid rgb(80, 80, 80);
}
.col-wide{
    grid-column: 1 / -1; /*DEIXA OS DOIS ULTIMOS TEXT DO FOOTER NUMA COLUNA SÓ*/
}
/*CONFIGURAÇÃO DAS FONTES DO FOOTER*/
                            .footer-grid p, .footer-grid h1{
                                color: black;
                                padding: 10px;
                            }.footer-grid input{margin: 10px; text-transform: none;}

                            .footer-grid a{
                                color: black;
                                padding: 10px;
                            }.footer-grid a:hover{color: rgba(0, 0, 0, 0.6);}

                            #footer2 p{
                                text-transform: lowercase;
                            }
                                #f1 h1, #f1 p, #f1 input, #f2 nav li a, #f3 nav ul li a, #f3 nav ul li a ul li a, #f4 nav ul li a{
                                    font-size: 0.85em;
                                }
/*CONFIGURAÇÃO DOS DIVs DO FOOTER*/
                            div#f1, div#f2, div#f3, div#f4{
                                /* background: rgba(0, 0, 255, 0.322); */
                                padding: 40px 0px 0px 20px;
                                margin: 2px;
                            }
        /*CONFIG DA DIV ID=F1*/div#f1 div{
                                    /* background: tomato; */
                                    padding: 0px 0px 10px 0px;
                                }
                                        div#f1 div h1{
                                            /* background: blue; */
                                            padding: 0px 0px 20px 0px;
                                            margin: 0px 0px 5px 0px;
                                            font-size: 0.9em;
                                        }
                                        div#f1 div p{
                                            /* background: green; */
                                            padding: 0px 0px 20px 0px;

                                        }
                                            div#f1 div p#solo{
                                                text-transform: none;
                                                color: rgba(0, 0, 0, 0.6);
                                                font-family: 'FermowGeralPrincipal', Times, serif;
                                                font-size: 0.9em;
                                            }
                                        div#f1 div input{
                                            background: rgba(0  , 0, 0, 0);
                                            color: rgba(0, 0, 0, 0.7);
                                            padding: 0px 0px 5px 0px;
                                            margin: 10px 0px 10px 0px;
                                            width: 100%;
                                            text-transform: capitalize;
                                            font-family: 'FermowGeralPrincipal', Times, serif;
                                            font-size: 1em;
                                            border: none;
                                            border-bottom: 1px solid black;
                                        }
        /*CONFIG DA DIV ID=F2*/div#f2 nav{
                                    /* background: tomato; */
                                    padding: 0px 0px 10px 0px;
        }
                                        div#f2 nav ul{
                                            /* background: blue; */
                                            padding: 0px 0px 10px 0px;
                                        }
                                        div#f2 nav ul li{
                                            /* background: green; */
                                            padding: 0px 0px 20px 0px;
                                            margin: 0px 0px 5px 0px;
                                        }
                                        div#f2 nav ul li a{
                                            padding-left: 0px;
                                            font-size: 0.9em;
                                        }
        /*CONFIG DA DIV ID=F3*/div#f3 nav{
                                    /* background: green; */
                                    padding: 0px 0px 10px 0px;
                                }
                                        div#f3 nav ul div#f3li{
                                            /* background: tomato; */
                                            margin: 0px 0px 20px 0px;
                                            padding: 0px 0px 5px 0px;
                                        }
                                        div#f3 nav ul div#f3li li{
                                            padding: 0px;
                                            /* background: red; */
                                        }
                                        div#f3 nav ul div#f3li li a{
                                            padding: 0px;
                                            /* background: violet; */
                                        }
                                        div#f3 nav ul div#f3li li a.solof3{
                                            padding: 0px 0px 0px 0px;
                                            margin: 0px;
                                            font-size: 0.9em;
                                            /* background: lightblue; */
                                        }
                                                div#f3 nav ul div#f3li li a#solo{
                                                    text-transform: none;
                                                    color: rgba(0, 0, 0, 0.6);
                                                    font-family: 'FermowGeralPrincipal', Times, serif;
                                                    font-size: 0.9em;
                                                }
                                        div#f3 nav ul div#f3li li ul{
                                            /* background: blue; */
                                            padding: 10px 0px 5px 0px;
/*ESSE COMANDO MOSTRA OS ITENS DESSA NAVEGAÇÃO -------------------------->*/display: none;
                                        }
                                        div#f3 nav ul div#f3li li ul li{
                                            /* background: red; */
                                            margin: 5px 0px 5px 0px;
                                            padding: 15px 0px 15px 0px;
                                        }
                                        div#f3 nav ul div#f3li li ul li a{
                                            text-transform: capitalize;
                                            padding-left: 0px;
                                            font-family: 'FermowGeralPrincipal', Times, serif;
                                        }
        /*CONFIG DA DIV ID=F4*/div#f4 nav{
                                    /* background: red; */
                                    padding: 0px 0px 10px 0px;
                                }
                                        div#f4 nav ul{
                                            /* background: green; */
                                            padding: 0px 0px 5px 0px;
                                        }
                                        div#f4 nav ul li{
                                            /* background: tomato; */
                                            margin-bottom: 23px;
                                        }
                                        div#f4 nav ul li a{
                                            padding-left: 0px;
                                            text-transform: capitalize;
                                            font-size: 0.9em;
                                            font-family: 'FermowGeralPrincipal', Times, serif;
                                        }
                                        div#f4 nav ul li a#atitle{
                                            text-transform: uppercase;
                                            font-size: 0.9em;
                                            font-family: 'FermowGeral', Times, serif;
                                        }
/*CONFIGURAÇÃO DO FOOTER2*/div#footer2{
                                display: flex;
                                justify-content: space-between;
                                font-size: 1.125em;
                                border-top: 1px solid rgb(80, 80, 80);
                                padding: 10px;
                                /* background: blue; */
                            }
                            div#footer2 p{
                                font-size: 0.7em;
                                color: rgb(80, 80, 80);
                                /* background: violet; */
                            }
/*-------------------------------------------------------------------------------------
                              CONFIGURAÇÃO ESTRUTURAL HTML
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////                             CONFIGURAÇÃO DIRECIONADA AO JS
--------------------------------------------------------------------------------------*/